<div class="nav-items">
    <div class="nav-item" routerLink="dashboard">
        <span>Dashboard</span>
    </div>
    <div class="nav-item" routerLink="appointment-list">
        <span>Appointment</span>
    </div>
    <div class="nav-item" routerLink="hospital">
        <span>Hospital</span>
    </div>
    <div class="nav-item" routerLink="patient">
        <span>Patient</span>
    </div>
    <div class="nav-item" routerLink="hospital-list">
        <span>All Hospital </span>
    </div>
    <div class="nav-item" routerLink="patient">
        <span>All Patient</span>
    </div>
</div>