<div class="nav-items">
    <div class="nav-item" routerLink="dashboard">
        <span>Dashboard</span>
    </div>
    <div class="nav-item" routerLink="appointment-list" *ngIf="loggedHospitalObj.userName!='superadmin'">
        <span>Appointment</span>
    </div>
    <!-- <div class="nav-item" routerLink="hospital">
        <span>Hospital</span>
    </div> -->
    <div class="nav-item" routerLink="patient" *ngIf="loggedHospitalObj.userName!='superadmin'">
        <span>Patient</span>
    </div>
    <div class="nav-item" routerLink="hospital-list" *ngIf="loggedHospitalObj.userName=='superadmin'">
        <span>All Hospital </span>
    </div>
    <div class="nav-item" routerLink="patient" *ngIf="loggedHospitalObj.userName=='superadmin'">
        <span>All Patient</span>
    </div>
    <div class="nav-item" routerLink="appointment-list" *ngIf="loggedHospitalObj.userName=='superadmin'">
        <span>All Appointment</span>
    </div>
</div>